<div class="header-resource">
    <div class="title-resource">{{ titleResourcePage | uppercase }}</div>
    <div class="fearture-resource">
        <div class="container">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-search" type="button"><fa-icon class="space5" [icon]="faSearch"></fa-icon> Search</button>
                  </span>
            </div>
        </div>
        <button class="btn-filter">FILTER</button>    
    </div>
</div>
