<nav class="navbar navbar-dark navbar-expand-lg header">
    <a class="navbar-brand" href="/overview">GAME OF THRONSES</a>
  
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a [routerLink]="['/houses']" [routerLinkActive]="'is-active'" class="nav-link">HOUSES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/books']" [routerLinkActive]="'is-active'">BOOKS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/characters']" [routerLinkActive]="'is-active'">CHARACTERS</a>
        </li>
      </ul>
      <span class="nav-item"><fa-icon class="space5" [icon]="faSmile"></fa-icon>Game</span>
      <a (click)="logout()">Log out</a>
    </div>
  </nav>