<nav class="navbar navbar-dark navbar-expand-lg header">
    <a class="navbar-brand" href="#">GAME OF THRONSES</a>
  
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/houses">HOUSES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/books">BOOKS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/characters">CHARACTERS</a>
        </li>
      </ul>
      <a class="nav-item nav-link"><fa-icon class="space5" [icon]="faSmile"></fa-icon>Game</a>
    </div>
  </nav>