<app-header></app-header>
<!-- <div class="flex-container">
    <div class="flex-item">
        
    </div>
</div> -->
<div class="body-content">
    <div class="title">CHOOSE THE RESOURCE YOU WANT</div>
    <div class="content-container d-flex justify-content-around">
        <a class="resource-box black-box p-2 bd-highlight" href="/houses">HOUSES</a> 
        <a class="resource-box green-box p-2 bd-highlight" href="/books">BOOKS</a>
        <a class="resource-box yellow-box p-2 bd-highlight" href="/characters">CHARACTERS</a>
    </div>
</div>
<app-footer></app-footer>   