@import '../../../assets/scss/variables';

.body-content {
    height: 100%;
    text-align: center;

    .title {
        color: $green;
        font-size: 36px;
        font-weight: bold;
        height: 150px;
        line-height: 150px;
    }
    .content-container {
        min-width: 1000px;
        height: 400px;
        line-height: 400px;
        position: relative;

        .resource-box {
            width: 300px;
            border: 1px solid;
            height: 300px;
            box-sizing: content-box;
            line-height: 300px;
            color: $white;
            font-weight: bold;
            font-size: 36px;
            position: relative;
            top: 10%;
            transition: 0.5s;
            text-decoration: none;
            box-shadow: 10px 10px 8px #888888;

            &:hover {
                transform:scale(1.1, 1.1);
                top:5%;
            }
        }

        .black-box {
            background-color: #4F4F4F;
        }

        .green-box {
            background-color: #3B8077;
        }

        .yellow-box {
            background-color: #C7CA22;
        }
    }
}