<mat-form-field>
    <mat-label>Search: </mat-label>
    <input class="input-search form-control" matInput (keyup)="applyFilter($event)" placeholder="search in resource" style="width: 300px; margin: 20px 0px;">
</mat-form-field>
  
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="{{displayColumn[0]}}">
        <mat-header-cell *matHeaderCellDef>{{displayColumn[0] | uppercase}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element[displayColumn[0]]}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="{{displayColumn[1]}}">
        <mat-header-cell *matHeaderCellDef>{{displayColumn[1] | uppercase }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element[displayColumn[1]]}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="{{displayColumn[2]}}">
        <mat-header-cell *matHeaderCellDef>{{ (displayColumn[2] === "coatOfArms" ? "Coat Of Arms" : displayColumn[2]) | uppercase }}</mat-header-cell>
        <mat-cell class="col-row" *matCellDef="let element">{{element[displayColumn[2]]}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="{{displayColumn[3]}}">
        <mat-header-cell *matHeaderCellDef>{{ (displayColumn[3] === "numberOfPage" ? "Num Of Pages" : displayColumn[3]) | uppercase}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element[displayColumn[3]]}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayColumn"></mat-header-row>
    <mat-row (click)="redirectDetailPage(row)" *matRowDef="let row; columns: displayColumn;"></mat-row>
</mat-table>