.resource-item {
    color: #000000;
    min-width: 100px;
    text-decoration: none;
    text-align: center;

    &:hover {
        background: beige;
    }

    .title-item {
        font-size: 24px;
        margin: 0px;
        padding: 10px;
        color: cornflowerblue;
        font-weight: bold;
    }

    .underline {
        width: 200px;
        height: 4px;
        position: absolute;
        text-align: center;
        margin-left: 20px;
        border-top: 2px solid cornflowerblue;
        border-bottom: 1px solid cornflowerblue;
    }

    .subtitle {
        font-style: italic;
        padding: 10px;
        margin: 0px;
    }

    .description {
        margin: 0px;
        padding: 0px 10px;
    }

}