.body-content {
    padding: 50px 100px;
    min-width: 100%;
    height: 100%;

    .header-resource {
        height: 50px;
        
        .title-resource {
            color: #187A28;
            font-size: 24px;
            font-weight: bold;
        }
    }

    .content {
        display: flex;
        align-items: stretch;

        .left-part {  
            flex: 100%;
            min-height: 500px;

            table {
                width: 100%;
                tr {
                    height: 40px;
                }

                th {
                    width: 300px;
                    padding: 0px 10px;
                }
                
            }
        }

        .right-part {
            flex: 50%;
        }
    }
}