footer {
    position: relative;
    bottom: 0;
    height: 50px;
    display: flow-root;
    width: 100%;
    border-top: 1px solid #677065;
    background-color: #677065;
    text-align: center;
    line-height: 50px;
    color: #FFFFFF;
    p {
        margin: 0px;
    }
}